.landing{
  background-image:url( ../images/backgrounds/landing.jpg);
  background-size: cover;
  width:vh;
  height:450px;
}
.logotext{
  color: white;
  font-size: 34px;
  font-family: fantasy;
  text-align: center;
}
.centre-bordered{
  align-content: center;
}
.column{
  float: left;
  width: 25%;
  text-align: center;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
#breakfast{
background-image:url(../images/foodtop/breakfast.jpg);
background-repeat: no-repeat;
font-size: 28px;
color:white;
height: 200px;
text-align: center;
}
#lunch{
  background-image: url(../images/foodtop/lunch.jpg);
  background-repeat: no-repeat;
  font-size: 28px;
  color:white;
  height: 200px;
  text-align: center;
}
#dinner{
  background-image: url(../images/foodtop/dinner.jpg);
  background-repeat: no-repeat;
  color: white;
  font-size: 28px;
  height:200px;
  text-align: center;
}
.img-thumbnail{
    padding: 2em;
}
.btn-default{
    color:#F15A29;
}
.tab-pane {
    color: #F15A29;
    background-color: white;
    padding: 2.3em 4em 2.3em 4em;
    text-align: center;
}
#black-part{
  background-image: url("../images/backgrounds/foodsBg.jpg");
  height:500px;
}
#happy-hour{
  font-size: 28px;
  text-align: center;
  background-color: #E0DEE1;
  height:15vh;
  width:vw;
}
#party-time{
  font-size: 28px;
  text-align: center;
  background-color: #F95A1A;
  height:15vh;
  width:vw;
  color: white;
}
#subscribe{
  background-image: url("../images/backgrounds/subscribe.jpg");
  height: 200px;
}
#subscribe-text{
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-align:center;
}
#footer{
  background-color: #F95A1A;
}
#footer-text{
  color:white;
  font-size: 28px;
  text-align: center;
}
.footer-text{
  color: white;
  font-size: 22px;
  text-align: center;
}
